<div class="wrap-achievement">
    <div class="projects-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <h1 class="category category-title">Our work</h1>
                    <h2 class="title mt-0">Some of Our Awesome Projects</h2>
                </div>
            </div>
            <div class="space-50"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg8.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-atom"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 1</h1>
                            </a>
                            <h6 class="desc">Java App</h6><a href="javascript:void(0)" class="btn btn-info"> Watch Later
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg7.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-camera-18"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 2</h1>
                            </a>
                            <h6 class="desc">College project</h6><a href="javascript:void(0)" class="btn btn-success">
                                Watch
                                Later </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg4.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-html5"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 3</h1>
                            </a>
                            <h6 class="desc">HTML code</h6><a href="javascript:void(0)" class="btn btn-warning"> Watch
                                Later
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg8.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-atom"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 4</h1>
                            </a>
                            <h6 class="desc">Java App</h6><a href="javascript:void(0)" class="btn btn-info"> Watch Later
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg7.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-camera-18"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 5</h1>
                            </a>
                            <h6 class="desc">College project</h6><a href="javascript:void(0)" class="btn btn-success">
                                Watch
                                Later </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-background" style="background-image: url('assets/img/bg4.jpg');">
                        <div class="card-body text-left">
                            <h6 class="card-category"><i class="tim-icons icon-html5"></i></h6><a
                                href="javascript:void(0)">
                                <h1 class="card-title">Project 6</h1>
                            </a>
                            <h6 class="desc">HTML code</h6><a href="javascript:void(0)" class="btn btn-warning"> Watch
                                Later
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>