<div class="contact-modal">
    <div class="wrap-content">
        <div class="card card-contact card-raised">
            <form novalidate="" id="contact-form" method="post" role="form" class="ng-untouched ng-pristine ng-valid">
                <div class="card-header text-center">
                    <h4 class="card-title">Get in touch</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6"><label> First name </label>
                            <div class="input-group" ng-reflect-ng-class="[object Object]">
                                <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="tim-icons icon-single-02"></i></span></div><input
                                    aria-label="First Name..." placeholder="First Name..." type="text"
                                    class="form-control" (focus)="addFocus($event)" (focusout)="removeFocus($event)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label> Last name </label>
                                <div class="input-group" ng-reflect-ng-class="[object Object]">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="tim-icons icon-caps-small"></i></span></div>
                                                <input
                                        aria-label="Last Name..." placeholder="Last Name..." type="text"
                                        class="form-control" (focus)="addFocus($event)" (focusout)="removeFocus($event)">
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label> Email address </label>
                        <div class="input-group" ng-reflect-ng-class="[object Object]">
                            <div class="input-group-prepend"><span class="input-group-text"><i
                                        class="tim-icons icon-email-85"></i></span></div>
                                        <input
                                placeholder="Email Here..." type="text" class="form-control"
                                (focus)="addFocus($event)" (focusout)="removeFocus($event)"
                                >
                        </div>
                    </div>
                    <div class="form-group"><label> Your message </label>
                        <textarea id="message" name="message" rows="6"
                            class="form-control" (focus)="addFocusTextArea($event)" (focusout)="removeFocusTextArea($event)"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check"><label class="form-check-label"><input type="checkbox"
                                        class="form-check-input"><span class="form-check-sign"></span> I'm not a robot
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6"><button type="submit" class="btn btn-primary btn-round pull-right"> Send
                                Message
                            </button></div>
                    </div>
                </div>
            </form>
            <div class="close-btn" (click)="closeModal()">
                <i class="tim-icons icon-simple-remove"></i>
            </div>
        </div>
    </div>
</div>