.contact-modal {
  width: 100%;
  height: 100%;

  .wrap-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .card {
      margin-top: 0;
      width: 90%;
      max-width: 700px;
    }
    .card-title {
      font-size: 23px;
    }
    .close-btn {
      position: absolute;
      top: -8px;
      right: -5px;
      background: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
}

//Form
.form-control {
  border: none;
}
.input-group {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  transition: 0.2s ease;
  .input-group-text {
    border: none;
  }
}
.input-group.active {
  border: 1px solid #d251db;
}

.form-group {
  textarea {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    transition: 0.2s ease;
  }
  textarea.active {
    border: 1px solid #d251db;
  }
}
