<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">Be on It</h1></div>
      <div class="col-md-3 col-6">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Landing </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Profile </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/contact-us']"
            >
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/about-us']"
            >
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/about-']"
            >
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/about-']"
            >
              License
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile text-left">
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="https://facebook.com/beonitsolution"
            target="_blank"
          >
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple"
            href="http://line.me/ti/p/~@beonit"
            target="_blank"
          >
            <i class="fab fa-line"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
