<div class="wrapper">
    <div class="container">

        <div class="wrap-offer">
            <div class="wrap-title">
                <h1>What we offer</h1>
            </div>
            <div class="offer">
                <div class="container-offer">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <img src="../../../assets/img/offer/software-hardware.jpg" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="profile-title text-left">Software & Hardware</h1>
                            <h5 class="text-on-back">01</h5>
                            <p class="profile-description text-left">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Animi dolore esse nesciunt deleniti et! Sed magnam error vel aliquam consequuntur
                                enim rem voluptate, esse, voluptatibus debitis ad ipsa maiores expedita.</p>
                            <div class="btn-wrapper pt-3"><button href="javascript:void(0)"
                                    class="btn btn-simple btn-danger mr-1"><i class="tim-icons icon-book-bookmark"></i>
                                    Bookmark
                                </button><button href="javascript:void(0)" class="btn btn-simple btn-info"><i
                                        class="tim-icons icon-bulb-63"></i> Check it! </button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer">
                <div class="container-offer">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <div class="row justify-content-between align-items-center">
                                    <img src="../../../assets/img/offer/erp2.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="profile-title text-left">ERP System</h1>
                            <h5 class="text-on-back">02</h5>
                            <p class="profile-description text-left">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Dolores, commodi iure, officia dolor recusandae debitis repellat, in similique
                                repudiandae molestiae enim voluptatibus dicta maiores vero sapiente error corporis cum
                                laborum. </p>
                            <div class="btn-wrapper pt-3"><button href="javascript:void(0)"
                                    class="btn btn-simple btn-danger mr-1"><i class="tim-icons icon-book-bookmark"></i>
                                    Bookmark
                                </button><button href="javascript:void(0)" class="btn btn-simple btn-info"><i
                                        class="tim-icons icon-bulb-63"></i> Check it! </button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer">
                <div class="container-offer">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <div class="row justify-content-between align-items-center">
                                    <img src="../../../assets/img/offer/iot1.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="profile-title text-left">IoT</h1>
                            <h5 class="text-on-back">03</h5>
                            <p class="profile-description text-left">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Nemo, aliquid dignissimos distinctio assumenda consectetur esse qui est nesciunt
                                libero nisi, quidem quibusdam accusamus ipsum? Animi eos neque praesentium inventore
                                facilis.</p>
                            <div class="btn-wrapper pt-3"><button href="javascript:void(0)"
                                    class="btn btn-simple btn-danger mr-1"><i class="tim-icons icon-book-bookmark"></i>
                                    Bookmark
                                </button><button href="javascript:void(0)" class="btn btn-simple btn-info"><i
                                        class="tim-icons icon-bulb-63"></i> Check it! </button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer">
                <div class="container-offer">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <div class="row justify-content-between align-items-center">
                                    <img src="../../../assets/img/offer/automatic1.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="profile-title text-left">Automatic System</h1>
                            <h5 class="text-on-back">04</h5>
                            <p class="profile-description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Voluptatum recusandae nisi natus, nihil ut corporis cum unde provident voluptate
                                minus quaerat dignissimos numquam quia aut, eius mollitia hic omnis nesciunt?</p>
                            <div class="btn-wrapper pt-3"><button href="javascript:void(0)"
                                    class="btn btn-simple btn-danger mr-1"><i class="tim-icons icon-book-bookmark"></i>
                                    Bookmark
                                </button><button href="javascript:void(0)" class="btn btn-simple btn-info"><i
                                        class="tim-icons icon-bulb-63"></i> Check it! </button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer">
                <div class="container-offer">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="row justify-content-between align-items-center">
                                <div class="row justify-content-between align-items-center">
                                    <img src="../../../assets/img/offer/iot-epr.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="profile-title text-left">IoT & EPR Connection</h1>
                            <h5 class="text-on-back">05</h5>
                            <p class="profile-description text-left">Lorem, ipsum dolor sit amet consectetur adipisicing
                                elit. Delectus ad dignissimos debitis ipsam possimus, veritatis aliquid fugiat assumenda
                                quaerat quidem? Error nemo unde deserunt blanditiis sed! Vitae eius fugiat sint.</p>
                            <div class="btn-wrapper pt-3"><button href="javascript:void(0)"
                                    class="btn btn-simple btn-danger mr-1"><i class="tim-icons icon-book-bookmark"></i>
                                    Bookmark
                                </button><button href="javascript:void(0)" class="btn btn-simple btn-info"><i
                                        class="tim-icons icon-bulb-63"></i> Check it! </button></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>