<div class="wrapper keyboard">
    <div class="page-header header-filter">
        <div data-parallax="true" class="page-header-image rellax"
            style="background-image: url(&quot;assets/img/products/KeyboardPresentation3.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Be On Keyboard</h1>
                    <!-- <div class="author"><img alt="..." src="assets/img/p10.jpg" class="avatar img-raised"></div><br>
                    <h4 class="description">Mark Byron</h4> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">Modular System Keyboard</h3>
                    <p>Nowadays Technologies are completely
                        either one of human workplace or human
                        society. A keyboard is an important input
                        device which not only can help people finish
                        their works but also attract people feeling
                        when they're putting their fingers on.
                        <span class="block"></span>
                        Be on keyboards can fulfill your desire by
                        their functional design and Hot-Swappable
                        key.
                        <span class="bold">"Better work can be achieved when
                            you are feeling better".</span>
                    </p><br><br>
                    <div class="blockquote">
                        <ul class="main-ul">
                            <li>Number of Keys : 83 + 2 keys</li>
                            <li>Rotary Encoder : 1</li>
                            <li>Layout : ANSI</li>
                            <li>Compatible System : Windows, MacOS</li>
                            <li>Connection : Type-C cable</li>
                            <li>Material : Aluminum(not confirm)</li>
                            <li>Dimension : 387.6x159.0</li>
                            <li>Height without keycap and knob :28.04</li>
                            <li>Weight : NA</li>
                            <li>
                                Number of component : 4
                                <ul class="sub-ul">
                                    <li>UPPER_FRAME</li>
                                    <li>LOWER_FRAME</li>
                                    <li>SWITH_PLATE</li>
                                    <li>PCB_PLATE</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h3 class="title advantages">Advantages</h3><br>
                    <div>
                        <ul>
                            <li>Hot-Swappable Mechanical keyboard.
                            </li>
                            <li>Assisted Bottoms can help you work efficiently and conveniently.
                            </li>
                            <li>You can set assisted bottoms to do whatever function you want.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 wrap-open-modal-btn">
                    <app-get-in-touchbtn></app-get-in-touchbtn>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal -->
<app-contactmodal></app-contactmodal>