<div class="wrap-team">
    <div class="team-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 2</h2>
                    <h4 class="description"> This is the paragraph where you can write more details about your team.
                        Keep
                        you user engaged by providing meaningful information. </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-image">
                            <h4 class="title">Sofia Scarlett</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle=""
                                    type="button" class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                                    aria-haspopup="true"><i class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container--><a href="javascript:void(0)"><img src="assets/img/emily.jpg"
                                    class="img img-raised rounded"></a>
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">Engineering Team</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">UI, UX</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Cookery</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level
                                            </td>
                                            <td class="text-right">• • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-image">
                            <h4 class="title">Dylan Wyatt</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle=""
                                    type="button" class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                                    aria-haspopup="true"><i class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container--><a href="javascript:void(0)"><img src="assets/img/michael.jpg"
                                    class="img img-raised rounded"></a>
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">Development Team</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">Leadership</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Skiing</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level
                                            </td>
                                            <td class="text-right">• • • • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-image">
                            <h4 class="title">Mila Skylar</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle=""
                                    type="button" class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                                    aria-haspopup="true"><i class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container--><a href="javascript:void(0)"><img src="assets/img/julie.jpg"
                                    class="img img-raised rounded"></a>
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">Sales Team</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">Artistry</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Reading</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level
                                            </td>
                                            <td class="text-right">• • • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 3</h2>
                    <h4 class="description"> This is the paragraph where you can write more details about your team. Keep
                        you user engaged by providing meaningful information. </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 ml-auto mr-auto">
                    <div data-background="full" class="card card-profile"><a href="javascript:void(0)"><img
                                src="assets/img/willy-dade.jpg" class="img img-raised rounded"></a>
                        <div class="card-image">
                            <h4 class="title">Jane Doe</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle="" type="button"
                                    class="btn btn-link dropdown-toggle btn-icon dropdown-toggle" aria-haspopup="true"><i
                                        class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container-->
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">Scrum Master</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">Organization</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Jogging</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level </td>
                                            <td class="text-right">• • • • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 ml-auto mr-auto">
                    <div data-background="full" class="card card-profile"><a href="javascript:void(0)"><img
                                src="assets/img/tom-klein.jpg" class="img img-raised rounded"></a>
                        <div class="card-image">
                            <h4 class="title">Tom Klein</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle="" type="button"
                                    class="btn btn-link dropdown-toggle btn-icon dropdown-toggle" aria-haspopup="true"><i
                                        class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container-->
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">CTO</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">Negotiation</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Graffiti</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level </td>
                                            <td class="text-right">• • • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 ml-auto mr-auto">
                    <div data-background="full" class="card card-profile"><a href="javascript:void(0)"><img
                                src="assets/img/kareya-saleh.jpg" class="img img-raised rounded"></a>
                        <div class="card-image">
                            <h4 class="title">Hannah Khan</h4>
                            <div dropdown="" class="dropdown"><button data-toggle="dropdown" dropdowntoggle="" type="button"
                                    class="btn btn-link dropdown-toggle btn-icon dropdown-toggle" aria-haspopup="true"><i
                                        class="tim-icons icon-settings-gear-63"></i></button>
                                <!--container-->
                            </div>
                            <!--container-->
                        </div>
                        <div class="card-body">
                            <hr class="line-primary">
                            <h3 class="job-title">Brand Strategist</h3>
                            <div class="table-responsive">
                                <table id="plain-table" class="table tablesorter">
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-atom"></i> Skills </td>
                                            <td class="text-right">Decision Making</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-user-run"></i> Hobbies </td>
                                            <td class="text-right">Martial arts</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="tim-icons icon-chart-bar-32"></i> Level </td>
                                            <td class="text-right">• • •</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>