<div class="wrapper iot">
    <div class="page-header header-filter">
        <div data-parallax="true" class="page-header-image rellax"
            style="background-image: url(&quot;assets/img/offer/iot1.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">IoT</h1>
                    <!-- <div class="author"><img alt="..." src="assets/img/p10.jpg" class="avatar img-raised"></div><br>
                    <h4 class="description">Mark Byron</h4> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">Iot</h3>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione delectus doloremque possimus
                        repudiandae autem, enim nemo voluptate praesentium odit ea doloribus voluptas veritatis magnam.
                        Voluptatem temporibus perferendis tempore recusandae dignissimos. </p><br><br>
                    <p class="blockquote"> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aperiam
                        tempora ea, vero ex vel quasi esse natus, impedit cumque nulla, deleniti recusandae perspiciatis
                        sapiente aliquam odio. Adipisci, ipsum? Maiores?"
                        <br><br><small> lorem </small>
                    </p>
                    <h3 class="title">Lorem</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore illum ea dolore
                        libero, ab iste neque quidem explicabo. Officiis perferendis quibusdam vel temporibus
                        dignissimos quasi quia sint iusto obcaecati!</p>
                </div>
                <div class="col-md-12 wrap-open-modal-btn">
                    <button type="submit" class="btn btn-info open-modal-btn" (click)="openModal(wrapContactModal)"
                        #getInTouchBtn>Get
                        in
                        touch</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap-contact-modal" #wrapContactModal>
    <app-contactmodal></app-contactmodal>
</div>