img {
    object-fit: cover;
}
.block {
  display: block;
  margin: 20px 0;
}
.bold {
  font-weight: bold;
}









// Product Page
.main-ul {
    padding-left: 19px;
}
.sub-ul {
  counter-reset: itemqqq;
  list-style: none;
  padding-left: 13px;
  li::before {
    content: counter(itemqqq) ". ";
    counter-increment: itemqqq;
  }
}
h3.title.advantages {
    margin: 30px 0 0 0;
}